/* .CarouselStyle {
    position: relative;
    display: inline-block;
} */
/* 
.CarouselStyle ::before {
    background-color: rgba(0, 0, 255, 0.5); */
    /* set background color and opacity */
    /* z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
} */
/* 
.slideimg {

    max-width: 600px;
    height: 350px;
    overflow-y: scroll; */
    /* background: url(img_5terre.jpg) no-repeat; */
    /* -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient (black, transparent);

} */


  /* .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  } */